#main.wrapper.clearfix
  %article
    %header
      %h1 Full public calendar
    %section
      :plain
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTz=1&amp;height=500&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23FFFFFF&amp;src=kscmb0aqug9oo179nfgns5p1p4%40group.calendar.google.com&amp;color=%238280A6&amp;src=lmdc3km008it5u4sdqkd2lmtk4%40group.calendar.google.com&amp;color=%238280A6&amp;ctz=America/New_York" style=" border-width:0 " width="500" height="500" frameborder="0" scrolling="no"></iframe>
  %aside
    %h1
      Quick links
    %ul
      %li
        %a(href="http://moacir.com/pdfs/MoacirPdeSaPereira-cv.pdf") Curriculum vitæ (pdf)
      %li
        %a(href="http://moacir.com/donkeyhottie/") Donkey Hottie
        (blog)
      %li
        %a(href="http://lithchat.com/") Lithchat
        (blog on hiatus)
      %li
        %a(href="http://twitter.com/mollybloombot") @MollyBloombot
    %p.twitter
      %a(class="twitter-follow-button" itemprop="url" href="http://twitter.com/muziejus" data-show-count="false") Follow @muziejus
      %script(src="http://platform.twitter.com/widgets.js" type="text/javascript")
