<div id="main" class="wrapper clearfix">
	<article>
		<header>
			<h1>Contact</h1>
			<p>Here are handful of ways I can be contacted, more or less in descending order of reachability/preference.</p>
		</header>
		<section itemscope itemtype="http://data-vocabulary.org/Person"></p>
		   <dl>
		   	<dt>Twitter</dt>
		   	<dd><a itemprop="url" href="http://twitter.com/muziejus" class="twitter-follow-button" data-show-count="false">Follow @muziejus</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script></dd>
		   	<dt>Email</dt>
		   	<dd><a href="#" onclick="this.href='mailto:'+this.innerHTML.split('').reverse().join('')" style="unicode-bidi:bidi-override; direction: rtl;">ude.ogacihcu@ricaom</a>&#x200E;</dd>
		   	<dt>Google docs</dt>
		   	<dd><a href="#" onclick="this.href='mailto:'+this.innerHTML.split('').reverse().join('')" style="unicode-bidi:bidi-override; direction: rtl;">moc.liamg@ricaom</a>&#x200E;</dd>
		   	<dt>Voice</dt>
		   	<dd>+1 774 473 9856</dd>
		   	<dt>iMessage</dt>
			  <dd>+370 641 27 369</dd>
		   	<dt>Mail</dt>
			<dd class="mailingaddress">
				<span itemprop="name">Moacir P. de Sá Pereira</span>
				<section itemprop="address" itemtype="http://data-vocabulary.org/Address" itemscope>
					<span itemprop="street-address">
						Kiparisų g. 24
					</span>
					<span itemprop="postal-code">LT-14261</span><br />
					<span itemprop="locality">Didžioji Riešė</span><br />
					<span itemprop="country-name">LITHUANIA</a>
					</span>
		   		</section>
			</dd>
		   	<dt>US mail</dt>
			<dd class="mailingaddress">Moacir P. de Sá Pereira<br />
				<span itemprop="affiliation">Department of English Language and Literature<br />
			  	University of Chicago</span>
			  	<section itemprop="address" itemtype="http://data-vocabulary.org/Address" itemscope>
			  		<span itemprop="street-address">1115 E. 58th St.</span><br />
			  		<span itemprop="locality">Chicago, <span itemprop="region">IL</span> <span itemprop="postal-code">60637</span><br /><span itemprop="country-name">USA</span>
				</section>
			</dd>
		   	<dt>Url</dt>
		   	<dd><a itemprop="url" href="http://moacir.com">moacir.com</a></dd>	
		    </dl>
		</section>
	</article>
	<aside>
	<h1>Other online presences</h1>
		<ul>
			<li><a href="http://moacir.com/donkeyhottie/">Donkey Hottie</a> (blog)</li>
			<li><a href="http://lithchat.com/">Lithchat</a> (blog on hiatus)</li>
			<li><a href="https://joindiaspora.com/people/5808" itemprop="url">Diaspora*</a></li>
			<li><a href="https://plus.google.com/104255080149247515181" itemprop="url">Google+</a></li>
			<li><a href="http://www.facebook.com/moacirpdsp" itemprop="url">Facebook</a></li> 
			<li><a href='http://www.linkedin.com/in/moacir/' itemprop="url" >LinkedIn</a></li> 
			<li><a href='http://www.graduatejunction.com/' >Graduate Junction</a></li>
			<li><a href='foaf.rdf'>FOAF</a></li>
		</ul>
	</aside>
</div>
