h1 Digital Literary Studies: Does It Work?

p Moacir P. de Sá Pereira (moacir at nyu)

p Fall 2016, 25 W 4th C-6, MW 15:30–16:45

p Office Hours: 244 Greene, 506, T 15:30–17:00

h2#description Course description

p Over the past decade, literary study has become increasingly, reflexively
  interested in investigating the methods that it generates.  At the same time,
  the digital humanities have emerged to claim a part of growing English
  departments. This course serves as an introduction to both of these currents in
  contemporary literary study. We will consider both familiar forms of reading as
  well as new, different forms that have broadened the way we interpret texts,
  and we will then look to how the digital humanities, as an especially
  method-oriented subfield, brings these questions of interpretation into even
  sharper contrast. Students will, then, see how debates about interpretation are
  lived and experienced within the digital humanities, both in theory and
  practice. Finally, students will learn to use digital methodologies in their
  interpretation, with possible projects in textual analysis, topic modeling, and
  geospatial analysis.

h2#goals Goals of the course

ul
  li to introduce you to historical trends in literary criticism from the 20th and 21st centuries; 

  li to develop skills in

    <ul>
      <li>reading analytical and literary texts;</li>

      <li>writing analyses that are cogent and syncretic, making use of the various methods on hand;</li>

      <li>creating (as well as using and distributing) geospatial datasets,
      GISes, and cartographic visualizations of the former;</li>

      <li>creating (as well as using and distributing) corpora in <code>Python</code>;</li>

      <li>using <code>NLTK</code> to investigate the properties of a text;</li>
        
      <li>researching popular and scholarly writing on a topic;</li>
        
      <li>presenting the results of research and scholarly analysis; and</li>    
    </ul>

    <li>to develop, refine, and present scholarship that exists, spatially and
    temporally, beyond the boundaries of the course.</li>

h2#texts Novels available at the NYU BookCenter <span class="small">(hardcopies required)</span>

ul
  li 
    | F. Scott Fitzgerald, 
    em The Great Gatsby
    |, 1925 (Scribner) 
    a href="http://www.strandbooks.com/strand%2D80/great%2Dgatsby/_/searchString/gatsby" target="_blank" [strand]
  li 
    | Thomas Pynchon, 
    em The Crying of Lot 49
    |, 1965 (Harper Perennial) 
    a href="http://www.strandbooks.com/fiction/crying%2Dof%2Dlot%2D49%2D1/_/searchString/crying%20of%20lot%2049" target="_blank" [strand]
  li 
    | Dana Spiotta, 
    em Eat the Document
    |, 2006 (Scribner) 
    a href="http://www.strandbooks.com/fiction/eat%2Dthe%2Ddocument%2D1/_/searchString/eat%20%20document" target="_blank" [strand]
  li
    | Nicolas Treddel, ed., 
    em F. Scott Fitzgerald: The Great Gatsby
    |, 1999 (Columbia UP) 
    a href="http://www.abebooks.com/servlet/SearchResults?bi=0&bx=off&ds=30&pn=columbia&recentlyadded=all&sortby=17&sts=t&tn=F.+Scott+Fitzgerald%3A+The+GReat+Gatsby" target="_blank" [strand]

h1 Assignments
a name="assignments-head"
h2#participation Participation

p The success of any course is directly related to the levels of engagement
  brought both by the instructor and the students. As such, class participation
  is vitally important.  Similarly, though attendance is logically required for
  class participation, it is not sufficient. This class requires active
  participation both inside the classroom and outside. No “passive consumers,” as
  a professor of mine put it. 
    
p You can miss up to three meetings without penalty, and you can use these
  opportunities tactically, to provide space and time to either fulfill other
  obligations or recuperate from the previous night. I don’t care why you didn’t
  come. I start to care with the fourth absence, and I start to require
  documentation. Repeated unexcused absence quickly gobbles up the class
  participation component of the grade and begins to threaten your ability to
  even <em>pass</em> the course.

p Because this course is discussion-oriented, active participation means, most
  importantly, participating in the discussions in class. But useful and engaged
  participation in discussions also depends on good preparation, which includes
  doing the reading for the course. I encourage (but will not collect) you to
  think of one or two points of entry into a discussion of a text for each
  meeting. This could be a point of confusion (don’t be shy!), a point of
  comparison/contrast between passages to another work, or a useful parallel to
  something outside the coursework. Come to class with questions, in other words,
  and writing them out as mini-prompts may be especially helpful.

h2#critical-presentation Critical presentation

p While reading the critical
  history of <em>The Great Gatsby</em>, each of you will give a short (8–10
  minutes) presentation that introduces either one of the essays cited in the
  reading for that day or an essay you have found via JSTOR contemporary with
  that day’s reading. You will get to sign up for a time period on the first
  day of class. The presentation will also have a short (1 page) written
  component that you will turn in. The goal of the presentation is to
  introduce new knowledge to the class that it has not already had, thereby
  facilitating that day’s discussion. This presentation cannot make use of
  the computer in the classroom, and you should email the subject of your
  presentation to me 24 hours in advance.

h2#digital-presentation Digital presentation

p During the digital section of
  the course, each of you will give a short (8–10 minutes) presentation on a
  digital tool or project you have found online, possibly even making some
  quick use of the <em>Gatsby</em> dataset. The tool or project should be
  appropriate to that day’s work, meaning statistical analysis tools and
  projects fit for the <code>Python</code> days, while spatial analysis tools and
  projects fit better for the <code>Carto</code> days. You can sign up on the
  first day for these presentations. Your presentation will also have a short
  (1 page) written component that you will turn in. The goal of the
  presentation is to introduce a new form of digital reading to the class
  that may spark new ideas for final projects. This presentation can make use
  of the computer in the classroom, and you should email the subject of your
  presentation to me 24 hours in advance.

h2#novel-presentation Novel presentation

p While reading the two more
  “recent” notels, each of you will give a short (8–10 minutes) presentation
  that introduces secondary materials to the novel at hand, be it scholarly
  writing found via JSTOR or popular writing found online or in other
  publications. You will get to sign up for a day on the first day of class.
  The presentation will also have a short (1 page) written component that you
  will turn in. The goal of the presentation is to introduce new sources to
  the class that it has not already had, thereby facilitating that day’s
  discussion. This presentation cannot make use of the computer in the
  classroom, and you should email the subject of your presentation to me 24
  hours in advance.

h2#final-project Final project

p The final project is an extension of
  the work you have been doing all semester. It has two obvious components,
  as do the previous assignments, both an in-class presentation and a written
  component. The goal is for you to synthesize the different methods of
  reading we have learned over the semester to provide the foundation of a
  new, mixed reading of one of the semester’s novels. As such, you are
  encouraged to make use of the digital tools (and expand on your knowledge
  of them) while also keeping in mind the various secondary materials to
  which you have been exposed.  Remember the question guiding this
  course—“does it work?”—when considering how to develop the argument of your
  project. 

p The presentation, for which you will sign up on the first day, will be
  longer (18–20 minutes) than the previous presentations, and there will be
  time for Q&A with your classmates afterward. You will be able to make use
  of the computer in the classroom to visualize or guide your findings.

p In addition to the presentation, you will submit a longer (7 pages) written
  component that provides a more in-depth view of your project.

p You are <em>strongly</em> encouraged to be thinking about the project all
  semester long, and you should have a good sense of at least the topic by
  the time we return after Thanksgiving. Making use of office hours is a
  great way to help your project take shape in the rushed final weeks of the
  semester.

p Both the presentation and the write-up should follow standard scholarly
  guidlines regarding citation.

h1 Policies

h2#assignments Assignments

markdown:

  The assignment instructions, though detailed in the syllabus, may be enhanced
  or supplemented during the course. If you have any questions about an
  assignment, you should ask for clarification early. The assignments are due
  on the dates noted in the syllabus. 
    
  All of the writing can be submitted electronically.
    
  Late assignments jeopardize both your and my rhythms in the class, so they
  will be penalized. I will give you feedback and will happily discuss any work
  with you, but grades should be considered final.

  Additionally, grading is variable based on what you feel your strengths are.
  Each assignment will be worth at least 16% of your final grade, but the upper
  limit of the grade is set by you. You should email me how you slice up the
  pie by the end of October.

h2#attendance Attendance

markdown:

  As indicated above, attendance is required. Three absences will be excused
  without supplemental documentation, and I encourage you to use these
  tactically. Catching up is your responsibility.

  Subsequent absence requires formal documentation. Otherwise it begins to harm
  your final grade. Though class participation is only part of the final grade,
  extreme absenteeism (more than six meetings missed) may put your ability to
  pass the course at risk.

  Please show up on time to class, as well.

h2#digital Digital Learning

markdown:

  I will be exposing you to a lot of new tools and concepts. Our class will
  have digitally-focused classes in our classroom, where we will learn new
  skills. These skills are difficult, and I will try to help as much as
  possible.

h2#electronics Electronics

markdown:

  Despite the presence of the digital, especially as the class gets deeper into
  the semester, our time in class is meant as a sanctuary from the distractions
  of the rest of the world. Furthermore, the class relies on discussion and
  engagement, and the front of a laptop screen is a brilliant shield behind
  which a student can hide, even unintentionally. During our meetings, then,
  there can be no use of electronic devices. Please also set whatever devices
  you have but aren’t using to silent mode.

h2#communication Communication

markdown:

  Communication is vitally important to the pedagogical process, and this
  course depends on clear communication in both directions. If you have
  questions, comments, or concerns, the best course of action is to come visit
  me during my office hours as noted at the top of this page. If your
  questions, etc., cannot wait until then, then clearly you can also email me.
  I should respond within 48 hours.

  This is a new course, meaning that there will be even more unfinished edges
  ready to scratch someone than in a typical course. We have a collective goal
  of learning, however, so if the unfinished edges get to be overwhelming, I’ll
  adjust the parameters of the course appropriately. I’m not out to catch you,
  nor is this course a process of grotesque punishment.  Please don’t treat it
  as such.

  Once more, with feeling: *communication is vitally important to the
  pedagogical process*. If you have concerns or worries, please let me know
  about them sooner rather than later.

h2#disabilities Disabilities

markdown:

  If you have a disability, you should register with the Moses Center for
  Students with Disabilities (mosescsd@nyu.edu; 726 Broadway, 2nd Floor,
  212.998.4980), which can arrange for things like extra time for assignments.
  Please inform me *at the beginning of the semester* if you need any special
  accommodations regarding the assignments.

h2#integrity Academic integrity

markdown:

  Please look at NYU’s [full statement on
    academic integrity](http://cas.nyu.edu/page/academicintegrity).
    Any instance of academic dishonesty will result in an F and will be
    reported to the relevant dean for disciplinary action. Remember that
    plagiarism is a matter of fact, not intention. Know what it is, and don’t
    do it.

h2#syllabus Syllabus

markdown:

  The handsome, printer-friendly `pdf` version of the syllabus is available [here](https://github.com/muziejus/does-it-work/blob/master/syllabus.pdf).

h1 Materials

h2#schedule Schedule

markdown:
  Readings that are not the four books listed above will be available on reserve
  or by other means. See the list of references at the end for details.

  ### 1. That Old *Gatsby*, That Critique *Gatsby*

  In the first section of this course, we’ll be returning to a familiar,
  canonical work of American 20th century literature, *The Great
    Gatsby*. Next, we will follow our own reading of the novel with a look at
  the novel’s critical history. 

  * Monday, 5 Sep: <strong>No Class.</strong>

  * Wednesday, 7 Sep: Introductions and a snippet from Massumi’s “Translator’s Foreword: Pleasures of Philosophy.”

  * Monday, 12 Sep: Fitzgerald, <em>The Great Gatsby</em>, 

  * Wednesday, 14 Sep: Fitzgerald, <em>The Great Gatsby</em>,

  * Monday, 19 Sep: Fitzgerald, <em>The Great Gatsby</em>,

  * Wednesday, 21 Sep: (<em>Critical presentations begin</em>), Tredell, intro & ch. 1.

  * Monday, 26 Sep: Tredell, chs. 2 & 3.

  * Wednesday, 28 Sep: Tredell, chs. 4 & 5.

  ### 2. A Theoretical Break

  Next, we take a short break to learn about the stresses offered by these more
  critique-driven forms of reading.

  * Monday, 3 Oct: Bersani, “Pynchon, Paranoia, and Literature” and Latour,
    “Why Has Critique Run out of Steam? From Matters of Fact to Matters of
    Concern.”

  * Wednesday, 5 Oct: Sedgwick, “Paranoid Reading and Reparative Reading, or
    You’re So Paranoid, You Probably Think This Essay Is about You” and
    selections from Felski, <em>The Limits of Critique</em>.

  ### 3. The New *Gatsby*, The Digital *Gatsby*

  These five weeks serve as an opportunity to learn new methods of literary
  criticism, now based in digital tools. We will learn how to use
  <code>Voyant</code> to quickly see patterns in the text of \textit{The Great
    Gatsby}, <code>Python</code> to analyze the text within a high-level statistical
  programming environment,\footnote{The unit on <code>Python</code> is adapted from
    Jockers.} and, finally, <code>NYWalker</code> and <code>Carto</code> to learn how
  to make maps to analyse the geographical space of <em>The Great Gatsby</em>.

  * Monday, 10 Oct: <strong>No Class.</strong>

  * Wednesday, 12 Oct: Ramsay, “Algorithmic Criticism” and <code>Voyant</code> 
    and <em>The Great Gatsby</em>
  
  * Monday, 17 Oct: Introduction to <code>Python</code>

  * Wednesday, 19 Oct: (<em>Digital presentations begin</em>), <code>Python</code> and <em>The Great Gatsby</em>

  * Monday, 24 Oct: <code>Python</code> and <em>The Great Gatsby</em>

  * Wednesday,  26 Oct: <code>Python</code> and <em>The Great Gatsby</em>

  * Monday, 31 Oct: <code>NYWalker</code> and <em>The Great Gatsby</em>

  * Wednesday, 2 Nov: <code>Carto</code> and <em>The Great Gatsby</em>

  * Monday, 7 Nov: <code>Carto</code> and <em>The Great Gatsby</em>

  * Wednesday, 9 Nov: <code>Carto</code> and <em>The Great Gatsby</em>

  ### 4. The New Novels, The New Systems

  The semester closes with reading two new(er) novels that invite a systematic,
  totalized reading. We close with student presentations on their final
  projects.

  * Monday, 14 Nov: <strong>Novel presentations begin</strong>, Pynchon, chs. 1–3.
  
  * Wednesday, 16 Nov: Pynchon, chs. 4 \& 5.

  * Monday, 21 Nov: Pynchon, ch. 6.

  * Wednesday, 23 Nov: <strong>No Class.</strong>

  * Monday, 28 Nov: Spiotta, pts. 1 \& 2.

  * Wednesday, 30 Nov: Spiotta, pts. 3 \& 4.

  * Monday, 5 Dec: Spiotta, pts. 5–7.

  * Wednesday, 7 Dec: Spiotta, pts. 8 \& 9.

  * Monday, 12 Dec: <strong>Final presentations</strong>
  
  * Wednesday, 14 Dec: <strong>Final presentations</strong>


h2#course-calendar Calendar

table.table.table-hover
  thead
    th Week
    th Monday
    th Wednesday
  tbody
    <tr><td>1. 5.9, 7.9 </td><td> <strong>No class</strong> </td><td> Introductions, Massumi </td></tr>
    <tr><td>2. 12.9, 14.9 </td><td> Fitzgerald </td><td> Fitzgerald </td></tr>
    <tr><td>3. 19.9, 21.9 </td><td> Fitzgerald </td><td> Tredell (Critical presentations begin) </td></tr>
    <tr><td>4. 26.9, 28.9 </td><td> Tredell </td><td> Tredell </td></tr>
    <tr><td>5. 3.10, 5.10 </td><td> Bersani, Latour </td><td> Sedgwick, Felski </td></tr>
    <tr><td>6. 10.10, 12.10 </td><td> <strong>No class</strong>  </td><td> Ramsay / <code>Voyant</code> and <em>Gatsby</em> </td></tr>
    <tr><td>7. 17.10, 19.10 </td><td> Intro to <code>Python</code> </td><td> <code>Python</code> and <em>Gatsby</em> (Digital presentations begin) </td></tr>
    <tr><td>  8. 24.10, 26.10 </td><td> <code>Python</code> and <em>Gatsby</em> </td><td> <code>Python</code> and <em>Gatsby</em> </td></tr>
    <tr><td>  9. 31.10, 2.11 </td><td> <code>NYWalker</code> and <em>Gatsby</em> </td><td> <code>Carto</code> and <em>Gatsby</em> </td></tr>
    <tr><td>  10. 7.11, 9.11 </td><td> <code>Carto</code> and <em>Gatsby</em> </td><td> <code>Carto</code> and <em>Gatsby</em> </td></tr>
    <tr><td>  11. 14.11, 16.11 </td><td> Pynchon (Novel presentations begin) </td><td> Pynchon </td></tr>
    <tr><td>  12. 21.11, 23.11 </td><td> Pynchon </td><td> <strong>No class</strong></td></tr>
    <tr><td>  13. 28.11, 30.11 </td><td> Spiotta </td><td> Spiotta </td></tr>
    <tr><td>  14. 5.12, 7.12 </td><td> Spiotta </td><td> Spiotta </td></tr>
    <tr><td>  15. 12.12, 14.12 </td><td> <strong>Project presentations</strong> </td><td> <strong>Project presentations</strong> </td></tr>

h2#bibliography Bibliography

markdown:

  * Bersani, Leo. “Pynchon, Paranoia, and Literature.” *Representations*, no. 25 (1989): 99–118. [doi:10.2307/2928469](http://dx.doi.org/10.2307/2928469).

  * Bird, Steven, Ewan Klein, and Edward Loper. *Natural Language Processing with Python*. Second edition. NLTK Project, 2016. [http://www.nltk.org/book/](http://www.nltk.org/book/).

  * Felski, Rita. *The Limits of Critique*. Chicago: The University of Chicago Press, 2015.

  * Fitzgerald, F. Scott. *The Great Gatsby*. 1925. New York: Scribner, 2004.

  * Jockers, Matthew Lee. *Text Analysis with R for Students of Literature*. Cham: Springer, 2014.

  * Latour, Bruno. “Why Has Critique Run out of Steam? From Matters of Fact to Matters of Concern.” *Critical Inquiry* 30, no. 2 (2004): 225–248. [doi:10.1086/421123](http://dx.doi.org/10.1086/421123).

  * Massumi, Brian. “Translator’s Foreword: Pleasures of Philosophy.” In *A Thousand Plateaus: Capitalism and Schizophrenia*, translated by Brian Massumi, ix–xv. Minneapolis: University of Minnesota Press, 1987.

  * Perkins, Jacob. *Python 3 Text Processing with NLTK 3 Cookbook*. Second edition. Birmingham, UK: Packt Publishing, 2014.

  * Pynchon, Thomas. *The Crying of Lot 49*. 1965. New York: Harper Perennial, 2006.

  * Ramsay, Stephen. *Reading Machines: Toward an Algorithmic Criticism*. Urbana: University of Illinois Press, 2011.

  * Reeve, Jonathan. “Text Analysis and Visualization with Python and the NLTK.” *GitHub*, 2016-04-13. [https://github.com/JonathanReeve/dataviz-workshop/blob/master/dataviz-workshop.ipynb](https://github.com/JonathanReeve/dataviz-workshop/blob/master/dataviz-workshop.ipynb).

  * Sedgwick, Eve Kosofsky. “Paranoid Reading and Reparative Reading, or, You’re So Paranoid, You Probably Think This Essay Is about You.” In *Touching Feeling: Affect, Pedagogy, Performativity*, 123–152. Durham, NC: Duke University Press, 2003.

  * Spiotta, Dana. *Eat the Document*. New York: Scribner, 2006.

  * Tredell, Nicolas, ed. *F. Scott Fitzegerald: The Great Gatsby*. Columbia Critical Guides. New York: Columbia University Press, 1999.

h2#resources Resources

ul
  li#dataservices <a href="http://guides.nyu.edu/dataservices" target="_blank">NYU Data Services</a>: the people on the fifth floor of Bobst who can help you with data needs.

  li#voyant <a href="http://voyant-tools.org" target="_blank"><code>Voyant</code> homepage</a>: a set of tools for text analysis.

  li#carto <a href="http://carto.com" target="_blank"><code>Carto</code> homepage</a>: a web-based map-making solution.

  li#nywalker <a href="http://nywalker.newyorkscapes.org" target="_blank"><code>NYWalker</code> homepage</a>: an application for building geodatasets of individual novels.

  li#pythontut <a href="https://docs.python.org/3/tutorial/index.html" target="_blank">The <code>Python</code> Tutorial</a>: the official introduction to the language.

  li#anaconda <a href="https://www.continuum.io/downloads" target="_blank">Anaconda</a>: a <code>Python</code> installer for Windows, Mac, and Linux.

  li#dhbox <a href="http://dhbox.org" target="_blank">DHBox</a>: a virtual digital humanities computer that gives, among other things, temporary access to <code>Python</code>.

  li#trypython <a href="https://www.codeschool.com/courses/try-python" target="_blank">Try <code>Python</code></a>: a three-hour online course from Code School that introduces <code>Python</code>.

  li#pythonthehardway <a href="https://learnpythonthehardway.org/book/" target="_blank"><em>Learn <code>Python</code> the Hard Way</em></a>: Zed A. Shaw’s very opinionated and slightly outdated (some exercises break on <code>Python 3</code>) introduction to <em>programming</em> via <code>Python</code>. Very methodical.

  li#howtogetpythonrunning Here is a longer tutorial on getting <code>Python</code> to work on your computer:

    <ul>
      <li>Go to <a href="http://dhbox.org" target="_blank">DHBox</a>. DHBox is
      a virtual computer that runs with a whole bunch of tools for you for one
      hour for free.  </li>
      
      <li>Click on <a href="http://dhbox.org/demo" target="_blank">Start
      Hour-Long Demo</a>. It'll build your box and take you to a new webpage,
      where you'll see “This is a DEMONSTRATION DH Box.” I assume you won't
      want to be <code>Python</code>ing for more than an hour anyway.  </li>

      <li>In the second navigation bar on the top, click on “Jupyter
      Notebooks.” <code>Jupyter</code> is an application for running
      interactive <code>Python</code> within a webpage.  </li>

      <li>The password is <code>demonstration</code>.  </li>
      
      <li>You now, on the right side of the screen, want to click on “New” and
      choose “Python 3.” </li>

      <li>In the notebook, you can type code into the text area beside <code>In
      []:</code>.  This is called a “cell.” Then, if you type control-return
      (or go to “Cell > Run Cells” in the menu) it will evaluate the script and
      perhaps print something (if you used <code>print()</code> in the white
      space and return something (if you asked for something to be returned) in
      <code>Out[]:</code>. Below is a picture.

       <img src="http://i.imgur.com/gnuRPSa.png" alt="Example of using Python
       in a notebook."> </li>    

      <li><strong>NOTE THAT IF A TUTORIAL SAYS <code>print "blah %s" % blah</code>, THAT
      IS <code>Python 2</code> AND WILL NOT WORK. YOU MUST USE <code>()</code>
      AND CHANGE THE CODE TO, SAY, <code>print("blah %s" % blah)</code></strong>.<br><br>

      <em>Learn <code>Python</code> the Hard Way</em> (see above) is a good
      example of a book written in <code>Python 2</code>, meaning you will have
      to add parentheses to nearly every exercise.</li>

      <li>You can keep editing your notebook cell to try new things. Or you can
      add new cells to show how your progamming has grown. Or you can paste in
      examples, if you like, from online resources. It’s very flexible.<br><br>
      
      Even better, the cells inherit variables and imported modules from
      earlier cells, so you can break your programming into little chunks and
      test each part by itself.</li>

    </ul>
