h1 Digital Literary Studies: The Map of the City that Is this Novel

p Moacir P. de Sá Pereira (moacir at nyu)

p Spring 2016, Waverly 668, TR 16:55–18:10

p Office Hours: 244 Greene, 506, W 14:00–16:00

h2#description Course description

p What is the relationship between the city and the novel? A century ago, the
  pioneers of American sociology in Chicago often looked to literature for
  inspiration. Later authors returned the favor in showing sociological influ-
  ences in their own urban imaginations. This class returns to this old push and
  pull with a distinct, contemporary spin. Three units—one on reading about
  the city, one on reading novels about the city, and one on making maps of the
  city as revealed in the novels—make up the semester and push us toward our
  goal of visualizing what the relationships between city and novel were, are,
  and could be. The maps we make will be digital, but no previous experience in
  programming or mapping is required. Students will learn everything during the
  semester, and they will be able to make their own maps and draw spatial
  conclusions about textual works for their final projects. The novels we read
  will be American works of the twentieth and twenty-first centuries, and they
  will focus geographically on the U.S. as well. The early sociological texts
  will be supplemented by more contemporary writings on the city as well as
  texts from the digital mapping debates in the field of geography.

h2#goals Goals of the course

ul
  li to introduce you to general concepts bridging sociology and literary
    criticism through the objects of the city and the novel as well as concepts
    pertaining to the geospatial digital humanities and qualitative GIS;

  li to develop skills in

    <ul>
      <li> reading analytical and literary texts as well as geographic data
      sources and maps,

      <li> writing analyses that are cogent and syncretic, making use of the
      various methods on hand, and</li>

      <li> creating (as well as using and distributing) geospatial datasets,
      GISes, and cartographic visualizations of the former; and</li>
    </ul>

	<li> to develop, refine, and present scholarship that exists, spatially and
    temporally, beyond the boundaries of the course.</li>

h2#texts Novels available at the NYU BookCenter <span class="small">(hardcopies required)</span>

ul
  li 
    |Teju Cole, 
    em Open City
    |, 2012 (Random House softcover) 
    a href="http://www.strandbooks.com/fiction/open-city-a-novel-0812980093/_/searchString/open%20city" target="_blank" [strand]
  li 
    | John Dos Passos, 
    em Manhattan Transfer
    |, 1925 (Mariner) 
    a href="http://www.strandbooks.com/fiction/manhattan-transfer3/_/searchString/dos%20passos%20manhattan%20transfer" target="_blank" [strand]
  li 
    |Rachel Kushner, 
    em The Flamethrowers
    |, 2014 (Scribner softcover) 
    a href="http://www.strandbooks.com/fiction/the-flamethrowers-a-novel-1439142017/_/searchString/kushner%20%20flamethrowers" target="_blank" [strand]
  li
    | Edith Wharton, 
    em The Age of Innocence
    |, 1920 (Modern Library preferred) 
    a href="http://www.strandbooks.com/index.cfm?fuseaction=search.results&includeOutOfStock=0&searchString=wharton+age+of+innocence" target="_blank" [strand]

h1 Assignments
a name="assignments-head"
h2#participation Participation

p The success of any course is directly related to the levels of engagement
  brought both by the instructor and the students. As such, class participation
  is vitally important.  Similarly, though attendance is logically required for
  class participation, it is not sufficient. This class requires active
  participation both inside the classroom and outside. No “passive consumers,” as
  a professor of mine put it. 
    
p You can miss up to three meetings without penalty, and you can use these
  opportunities tactically, to provide space and time to either fulfill other
  obligations or recuperate from the previous night. I don’t care why you didn’t
  come. I start to care with the fourth absence, and I start to require
  documentation. Repeated unexcused absence quickly gobbles up the class
  participation component of the grade and begins to threaten your ability to
  even <em>pass</em> the course.

p Because this course is discussion-oriented, active participation means, most
  importantly, participating in the discussions in class. But useful and engaged
  participation in discussions also depends on good preparation, which includes
  doing the reading for the course. I encourage (but will not collect) you to
  think of one or two points of entry into a discussion of a text for each
  meeting. This could be a point of confusion (don’t be shy!), a point of
  comparison/contrast between passages to another work, or a useful parallel to
  something outside the coursework. Come to class with questions, in other words,
  and writing them out as mini-prompts may be especially helpful.

h2#derive Dérive project

markdown:

  > [In a dérive](http://www.cddc.vt.edu/sionline/si/theory.html) one or more
  > persons during a certain period drop their relations, 
  their work and leisure activities, and all their other usual motives for
  movement and action, and let themselves be drawn by the attractions of the
  terrain and the encounters they find there.<footer>Guy Debord, “[Theory of the Dérive](http://www.cddc.vt.edu/sionline/si/theory.html)”</footer>
  
  Twice this semester, you will go on a dérive for credit (you are of course
  more than welcome to go on more for fun). The dérive is often pitched as
  “getting lost on purpose,̦” and there is an element of that to this
  assignment, but it is about much, much more. 

  ### Dérive goals

  * Get lost
  * Force yourself to consider Manhattan (and beyond) around you, filtered through our course readings
  * Let yourself be guided by chance, by the readings, and by unfamiliarity
  * While also submitting to a process of reflection and tracking

  This sounds like a lot, but the process will be, I hope, rather simple. A lot
  of the technical aspects of the dérive depend on attending the “`GPS Markdown
  dérive omnibus`” class meeting, but the technology should be in the
  background to how you feel the contours of the city, as Debord puts it.

  ### Process
  
  1. **Starting point:** Both dérives will start at a random location in
  Manhattan. For the first, I’ll give each of you a simplified point chosen at
  random. For the second, it'll be a place we have geocoded from our novels
  that is chosen at random.  Everyone gets a different point. Start a dérive
  on the [Dérive app](#derive-app), fire up your GPS tracker,
  make sure your pen works… oh, and *turn off your social media
  notifications*.

  1. **Look around:** Take in your immediate surroundings. Does something
  immediately resonate? Make a note of it. Head toward it. Look at it, listen
  to it, talk to it, taste it. 

  1. **Repeat:** If something else grabs you and pulls you away, follow it.
  Take *unfamiliar* paths, though.

  1. **Draw a card when stuck:** It’s so tricky to let go of the relationality
  in the city that we’re so used to that it makes sense to have a third party
  direct us. Draw a card from the [Dérive app](#derive-app).
  Note the card and where you drew it on your Field Papers atlas. Follow the
  card’s directions. Find the courage to fulfill the card’s instructions to
  their limit. But also understand when following the card’s instructions
  begins to simply reproduce regular moving in the city (say, following a bus
  down an avenue for ten blocks!).

  1. **Repeat:** Keep moving, keep thinking, keep noticing, keep forgetting,
  and keep noting.

  ### When you’re done?

  When *are* you done? After *n* kilometers? After *n* hours? Perhaps… The
  dérive should be counted in kilometers and hours, though, to encourage
  enough space and time for you to get good and lost in at least your
  thoughts. Make sure your draw a bunch of cards and let your dérive be good
  and disrupted. Don’t simply follow something green the length of Manhattan
  and call it a day.

  Make sure you’ve taken good notes in your Field Papers atlas, and hopefully
  your phone’s GPS didn’t completely fail you, but even if it did, paper
  backups!

  ### Completing the dérive

  Once you get back home, it’s time to write up the assignment, which is made
  up of three parts: a report (1,100–1,250 words), a shapefile of your
  journey, and the Field Papers atlas with all your notes. The report should
  be written in [Markdown](#markdown), and can definitely include any field
  recordings you made (photo, video, audio) that you think help indicate how
  you made use of your time lost in the city and in your thoughts to
  synthesize the city with your readings.

  If your phone’s GPS behaved, making the shapefile is as easy as exporting
  the GPX file to CartoDB or emailing it to yourself and importing it into
  ArcGIS. If the GPS failed, you can use your Field Papers to build an
  electronic version of your journey.

  The Field Papers are the Field Papers. Easy!

  Enjoy yourselves, let your thoughts and instincts guide you, and be safe!

h2#nywalker <code>NyWalker</code> project

markdown:

  Under the auspices of the NYScapes workshop, Prof. Thomas Augst and I have
  begun implementing a web application / data service called
  [`NyWalker`](http://github.com/nyscapes/nywalker/). The goal of the project
  is clear: to provide hand-coded geolocation information for several American
  novels typically (but not always) centered around New York City.

  During this course, we will undertake geocoding all four novels that we read,
  as well. The first novel we’ll do more or less together, but the last three
  are your responsibility. This is why it is important that you all have the
  same editions of the text.  

h3 Breakdown of responsibilities

table.table.table-hover
  thead
    th Student
    th Novel
    th Pages
  tbody
    tr
      td Nil Nil
      td <em>Manhattan Transfer</em>
      td <em>n</em>–<em>m</em>
    tr
      td Nil Nil
      td <em>Open City</em>
      td <em>n</em>–<em>m</em>
    tr
      td Nil Nil
      td <em>The Flamethrowers</em>
      td <em>n</em>–<em>m</em>

h3 Instructions

markdown:

  1. Read the text carefully and make notes of proper names (capitalized!) that
  you think might be places and should be mapped. **DO NOT GEOCODE AND READ AT
  ONCE**. You will make piles of mistakes *and* not get much out of the novel.

  1. Use the login we give you to log into the system. You should already have
  a book assigned, and you can go straight to adding `instances`, which are
  mentions of a place in a novel. Every `instance` has a `place` attached to it
  (like a street, building, city, country…). Every `instance` also has a `page`
  number and a `sequence` attached to it (is it the first instance on the page?
  second?).

  1. The `sequence` and `page` should be pretty clear. To affix a `place`,
  however, you must search for it. Hopefully, someone has already added that
  place to the database. If not, you have to add it yourself.

  1. Try searching the gazetteer first. It should capture anything larger than
  a town and many very specific buildings. If the place you're trying to add is
  not in the gazeteer, try to find the coordinates by looking the place up on
  *Wikipedia*. Places tend to have a “GeoHack” page that includes coordinates
  you can add by hand.

  1. If you know where the place is already, you can skip the GeoHack and zoom
  in to it using the small map on the form. When you click on the appropriate
  point, the corresponding what3words address should automatically appear in
  the form.

  1. Fill out the source (GeoNames, Wikipedia, etc.), and mark the appropriate
  confidence level.

  1. Save, fill in the rest of the data for the `instance`, and move to the
  next one.

  ### Report

  Once you have completed your data entry, you must write a short report
  (700–800 words) about your efforts. Include discussion of any especially
  difficult places you had to geocode, what kinds of issues they presented, and
  how you managed to solve them. 

h2#digital-story Digital story (final project)

markdown:
  
  The final project is made up of two very interconnected components, a digital
  story (most likely using Esri’s story maps software), and a long paper
  (2,500–3,000 words). Yes, you can reuse text from one project in the other,
  but you should keep in mind questions of genre and audience.

  ### Requirements:

  The object(s) of analysis for the digital story will be one or two of the
  novels we have read in class. You should read the novels carefully and
  closely, using the various texts we have read in class to inform how you
  read. Next you should perform an original geospatial analysis on the places
  mentioned in the novel or novels.

  The goal is to tie together both methods of approaching and novel (or novels)
  and seeing how they resonate with each other.

  The digital story will have at least 5 slides and make use of both maps and,
  where necessary, audio or visual material as permitted by copyright. The
  basic framework for the slides could be:

  1. Intro
  1. Data point 1 (map 1)
  2. Data point 2 (map 2)
  3. Data point 3 (map 3)
  3. Conclusion

  In the long paper, you should use a similar structure but make your argument
  more clearly, making more use of the non-novelistic texts we read in class.  

  Both objects should follow conventional modes of scholarly attribution.

  The digital story is clearly turned in as a url. The paper, however, can be
  submitted however you want to—paper, Markdown, etc.

h1 Policies

h2#assignments Assignments

markdown:

  The assignment instructions, though detailed in the syllabus, may be enhanced
  or supplemented during the course. If you have any questions about an
  assignment, you should ask for clarification early. The assignments are due
  on the dates noted in the syllabus. 
    
  Nearly everything can be submitted electronically. Shapefiles, Markdown texts
  of dérives, and digital stories, of course, must be. On the other hand,
  anything with a word-count can additionally be submitted during class,
  printed out. I don’t want to deny you the pleasure of dropping a physical
  manifestation of your hard work on a hard surface at the start of class. The
  Field Papers atlas from each dérive absolutely must be submitted as a
  physical object. 
    
  Late assignments jeopardize both your and my rhythms in the class, so they
  will be penalized. I will give you feedback and will happily discuss any work
  with you, but grades should be considered final.

  Additionally, grading is variable based on what you feel your strengths are.
  Each assignment will be worth at least 20% of your final grade, but the upper
  limit of the grade is set by you. You should email me how you slice up the
  pie by the end of the second week.

h2#attendance Attendance

markdown:

  As indicated above, attendance is required. Three absences will be excused
  without supplemental documentation, and I encourage you to use these
  tactically. Catching up is your responsibility.

  Subsequent absence requires formal documentation. Otherwise it begins to harm
  your final grade. Though class participation is only part of the final grade,
  extreme absenteeism (more than six meetings missed) may put your ability to
  pass the course at risk.

  Please show up on time to class, as well.

h2#digital Digital Learning

markdown:

  I, along with my colleagues at NYU Data
	Services, will be exposing you to a lot of new tools and concepts. Our
	class will occasionally have digitally-focused classes in our classroom, where we will learn how to 
	use ArcGIS and how to create digital stories that incorporate cartographic
	elements. These skills are difficult, and both I and the team at Data
	Services will try to help as much as possible. But please aim to attend
	each of these teaching classes, in order to gain familiarity
	with the technology that will come in handy later.

	In addition to what Data Services offers, during the course of the class we
	will also learn how to write digital documents in Markdown, complete with
	embedded multimedia objects. We will also learn how to use a gazetteer as
	part of the `NYWalker` project.

	None of this requires special previous knowledge.
  
h2#electronics Electronics

markdown:

  Despite the presence of the digital, especially as the class gets deeper into
  the semester, our time in class is meant as a sanctuary from the distractions
  of the rest of the world. Furthermore, the class relies on discussion and
  engagement, and the front of a laptop screen is a brilliant shield behind
  which a student can hide, even unintentionally. During our meetings, then,
  there can be no use of electronic devices. Please also set whatever devices
  you have but aren’t using to silent mode.

h2#communication Communication

markdown:

  Communication is vitally important to the pedagogical process, and this
  course depends on clear communication in both directions. If you have
  questions, comments, or concerns, the best course of action is to come visit
  me during my office hours as noted at the top of this page. If your
  questions, etc., cannot wait until then, then clearly you can also email me.
  I should respond within 48 hours.

  This is a new course, meaning that there will be even more unfinished edges
  ready to scratch someone than in a typical course. We have a collective goal
  of learning, however, so if the unfinished edges get to be overwhelming, I’ll
  adjust the parameters of the course appropriately. I’m not out to catch you,
  nor is this course a process of grotesque punishment.  Please don’t treat it
  as such.

  Once more, with feeling: *communication is vitally important to the
  pedagogical process*. If you have concerns or worries, please let me know
  about them sooner rather than later.

h2#disabilities Disabilities

markdown:

  If you have a disability, you should register with the Moses Center for
  Students with Disabilities (mosescsd@nyu.edu; 726 Broadway, 2nd Floor,
  212.998.4980), which can arrange for things like extra time for assignments.
  Please inform me *at the beginning of the semester* if you need any special
  accommodations regarding the assignments.

h2#integrity Academic integrity

markdown:

  Please look at NYU’s [full statement on
    academic integrity](http://cas.nyu.edu/page/academicintegrity).
    Any instance of academic dishonesty will result in an F and will be
    reported to the relevant dean for disciplinary action. Remember that
    plagiarism is a matter of fact, not intention. Know what it is, and don’t
    do it.

h2#syllabus Syllabus

markdown:

  The handsome, printer-friendly `pdf` version of the syllabus is available [here](/pdfs/map-city-novel-2016-syllabus.pdf).

h1 Materials

h2#schedule Schedule

markdown:
  Readings that are not the four novels listed above will be available on reserve
  or by other means. See the list of references at the end for details.

  ### 1. The organic, responsive city

  This unit is made up almost entirely of scholarly work on the city in general
  from the fields of sociology, anthropology, and geography. Some texts,
  however, have a specific literary component to them as being influenced by,
  responses to, or examples of literary practice. 

  * Tuesday, 26 Jan: Introduction, getting-to-know-you, fantasies and expectations, Whitehead, “City Limits”

  * Thursday, 28 Jan: Park, “The City: Suggestions for the Investigation of Human Behavior in the Urban Environment” (p. 1–12!), Burgess, “The Growth of the City: An Introduction to a Research Project,” and Wright, “Introduction”

  * Tuesday, 2 Feb: Harvey, “Henri Lefebvre’s Vision,” “The Right to the City,” “The Creation of the Urban Commons,” and “#OWS: The Party of Wall Street Meets Its Nemesis”

  * Thursday, 4 Feb: De Certeau, “‘Making Do’: Uses and Tactics,” “Walking in the City,” and “Spatial Stories”

  * Tuesday, 9 Feb: Latour, “Introduction: How to Resume the Task of Tracing Associations,” and “On the Difficulty of Being an ANT: An Interlude in the Form of a Dialog”

  * Thursday, 11 Feb: <code>ArcGIS</code> training day. Debord, “Definitions,” “Introduction to a Critique of Urban Geography,” and “Theory of the Dérive”

  ### 2. The city in the novel

  Having read different ways we can consider the city as a process, bubbling with
  potential, it’s now time to see how (or if) these novels play with what
  emanates form that view of the city.

  * Tuesday, 16 Feb: <code>GPS, Markdown, dérive omnibus</code> training day.

  * Thursday, 18 Feb: Wharton, <em>The Age of Innocence</em>, chs. 1–11

  * Tuesday, 23 Feb: Wharton, <em>The Age of Innocence</em>,  chs. 12–24

  * Thursday, 25 Feb: <strong>Dérive 1 due</strong>, Wharton, <em>The Age of Innocence</em>, chs. 25–end
    
  * Tuesday, 1 Mar: Dos Passos, <em>Manhattan Transfer</em>, “Ferryslip”–“Tracks”

  * Thursday, 3 Mar: Dos Passos,  <em>Manhattan Transfer</em>, “Steamroller”–“Longlegged Jack of the Isthmus”

  * Tuesday, 8 Mar: Dos Passos,  <em>Manhattan Transfer</em>, “Nine Days Wonder”–“Nickelodeon”

  * Thursday, 10 Mar: Dos Passos,  <em>Manhattan Transfer</em>, “Revolving Doors”–end

  * <strong>Spring Break, no class</strong>

  * Tuesday, 22 Mar: Cole, <em>Open City</em>, chs. 1–15

  * Thursday, 24 Mar: Cole,  <em>Open City</em>, chs. 16–end

  * Tuesday, 29 Mar: Kushner, <em>The Flamethrowers</em>, chs. 1–4

  * Thursday, 31 Mar: Kushner, <em>The Flamethrowers</em>, chs. 5–9

  * Tuesday, 5 Apr: Kushner, <em>The Flamethrowers</em>, chs. 10–13 
    
  * Thursday, 7 Apr: Kushner, <em>The Flamethrowers</em>, chs. 14 & 15

  * Tuesday, 12 Apr: Kushner, <em>The Flamethrowers</em>, chs. 16–end 

  * Thursday, 14 Apr: <code>Esri Story Maps</code> training day.

  ### 3. Qualitative GIS

  As we wind down the semester, our thoughts turn to how we can synthesize our
  different approaches to the text. We’ve read social scientific takes on the
  city followed by novels that are engaged with New York City (and other
  places!). In the meantime, we’ve been collecting a pile of geographic data
  about these novels and don’t yet really know what to do with it. Now, with a
  few caveats, we’ll try to figure out new paths for analysis.

  * Tuesday, 19 Apr: <strong>Dérive 2 due</strong>, <code>Geospatial analysis</code> training day.

  * Thursday, 21 Apr: Haraway, “Situated Knowledges: The Science Question in Feminism and the Privilege of Partial Perspective”

  * Tuesday, 26 Apr: <strong><code>NYWalker</code> report due</strong>, Woodward, Jones, and Marston, “Of Eagles and Flies: Orientations toward the Site,” Gibson-Graham, “Diverse Economies: Performative Practices for ‘Other Worlds’”

  * Thursday, 28 Apr: Elwood and Cope, “Introduction: Qualitative GIS: Forging Mixed Methods through Representations, Analytical Innovations, and Conceptual Engagements,”  Pavlovskaya, “Non-quantitative GIS”

  * Tuesday, 3 May: Liu, “Where Is Cultural Criticism in the Digital Humanities?” Risam, “Beyond the Margins: Intersectionality and the Digital Humanities”

  * Thursday, 5 May: Class wrap-up and review

  * Thursday, 12 May: <strong>Digital story due</strong>

h2#course-calendar Calendar

table.table.table-hover
  thead
    th Week
    th Tuesday
    th Thursday
  tbody
  <tr><td> 26.1, 28.1</td><td>Introductions, Whitehead</td><td>Park (p. 1–12!), Burgess, and Wright </td></tr>
  <tr><td> 2.2, 4.2</td><td>Harvey</td><td>De Certeau </td></tr>
  <tr><td> 9.2, 11.2</td><td>Latour</td><td><code>ArcGIS</code>, Debord </td></tr>
  <tr><td> 16.2, 18.2</td><td><code>GPS, Markdown, dérive omnibus</code></td><td>Wharton, chs. 1–12 </td></tr>
  <tr><td> 23.2, 25.2</td><td>Wharton, chs. 12–24</td><td><strong>Dérive 1 due</strong>, Wharton, chs. 25–end </td></tr>
  <tr><td> 1.3, 3.3</td><td>Dos Passos, “Ferryslip”–“Tracks”</td><td>Dos Passos, “Steamroller”–“Longlegged Jack of the Isthmus”</td></tr>
  <tr><td> 8.3, 10.3</td><td>Dos Passos, “Nine Days Wonder”–“Nickelodeon”</td><td>Dos Passos, “Revolving Doors”–end </td></tr>
  <tr><td> 15.3, 17.3</td><td colspan="2"><strong><center><h4>Spring Break, no class</h4></center></strong></td></tr>
  <tr><td> 22.3, 24.3</td><td>Cole, chs. 1–15</td><td>Cole, chs. 16–end </td></tr>
  <tr><td> 29.3, 31.3</td><td>Kushner, chs. 1–4</td><td>Kushner, chs. 5–9 </td></tr>
  <tr><td> 5.4, 7.4</td><td>Kushner, chs. 10–13</td><td>Kushner, chs. 14 & 15 </td></tr>
  <tr><td> 12.4, 14.4</td><td>Kushner, chs. 16–end</td><td><code>Esri Story Maps</code> </td></tr>
  <tr><td> 19.4, 21.4</td><td><strong>Dérive 2 due</strong>, <code>Geospatial analysis</code></td><td>Haraway </td></tr>
  <tr><td> 26.4, 28.4</td><td><strong><code>NYWalker</code> report due</strong>, Woodward et al., Gibson-Graham</td><td> Elwood and Cope, Pavlovskaya</td></tr>
  <tr><td> 3.5, 5.5</td><td>Liu, Risam</td><td>Class wrap-up and review </td></tr>
  <tr><td> 10.5, 12.5</td><td>&nbsp;</td><td><strong>Digital story due</strong></td></tr>

h2#bibliography Bibliography

markdown:

  * Burgess, Ernest Watson. “The Growth of the City: An Introduction to a Research Project.” In Park and Burgess, <em>The City</em>, 47–63.

  * Cope, Meghan, and Sarah Elwood, eds. <em>Qualitative GIS: A Mixed Methods Approach</em>. Los Angeles: SAGE, 2009. [doi:10.4135/9780857024541](http://dx.doi.org/10.4135/9780857024541).
  
  * de Certeau, Michel. <em>The Practice of Everyday Life</em>. Translated by Steven Rendall. Berkeley: University of California Press, 2002.

  * Debord, Guy. “Definitions.” Translated by Ken Knabb. <em>International situationniste</em> 1 (June 1958). [http://www.cddc.vt.edu/sionline/si/definitions.html](http://www.cddc.vt.edu/sionline/si/definitions.html).

  * ———. “Introduction to a Critique of Urban Geography.” Translated by Ken
  Knabb. <em>Les lèvres nues 6</em> (September 1955). [http://www.cddc.vt.edu/sionline/presitu/geography.html](http://www.cddc.vt.edu/sionline/presitu/geography.html).
  
  * ———. “Theory of the Dérive.” Translated by Ken Knabb. <em>Les lèvres nues</em>, November 1956. [http://www.cddc.vt.edu/sionline/si/theory.html](http://www.cddc.vt.edu/sionline/si/theory.html).
  
  * Elwood, Sarah, and Meghan Cope. “Introduction: Qualitative GIS: Forging Mixed Methods through Representations, Analytical Innovations, and Conceptual Engagements.” In Cope and Elwood, <em>Qualitative GIS</em>, 1–12. 
  
  * Gibson-Graham, J. K. “Diverse Economies: Performative Practices for ‘Other Worlds’.” <em>Progress in Human Geography</em> 32, no. 5 (2008): 613–632. [doi:10.1177/0309132508090821](http://dx.doi.org/10.1177/0309132508090821).

  * Haraway, Donna Jeanne. “Situated Knowledges: The Science Question in Feminism and the Privilege of Partial Perspective.” <em>Feminist Studies</em> 14, no. 3 (1988): 575–599. [doi:10.2307/3178066](http://dx.doi.org/10.2307/3178066).

  * Harvey, David. <em>Rebel Cities: From the Right to the City to the Urban Revolution</em>. London: Verso, 2012.

  * Latour, Bruno. <em>Reassembling the Social: An Introduction to Actor-Network-Theory</em>. Oxford: Oxford University Press, 2005.

  * Liu, Alan. “Where Is Cultural Criticism in the Digital Humanities?” In <em>Debates in the Digital Humanities</em>, edited by Matthew K. Gold, 490–509. Minneapolis: University of Minnesota Press, 2012. [http://dhdebates.gc.cuny.edu/debates/text/20](http://dhdebates.gc.cuny.edu/debates/text/20).

  * Park, Robert Ezra. “The City: Suggestions for the Investigation of Human Behavior in the Urban Environment.” In Park and Burgess, <em>The City</em>, 1–46.

  * Park, Robert Ezra, and Ernest Watson Burgess. <em>The City</em>. Edited by Roderick Duncan McKenzie. 1925. Chicago: University of Chicago Press, 1984.

  * Pavlovskaya, Marianna. “Non-quantitative GIS.” In Cope and Elwood, <em>Qualitative GIS</em>, 13–39.

  * Risam, Roopika. “Beyond the Margins: Intersectionality and the Digital Humanities.” <em>Digital Humanities Quarterly</em> 9, no. 2 (2015). [http://digitalhumanities.org/dhq/vol/9/2/000208/000208.html](http://digitalhumanities.org/dhq/vol/9/2/000208/000208.html).

  * Whitehead, Colson. “City Limits.” In <em>The Colossus of New York: A City in Thirteen Parts</em>, 3–11. New York: Anchor Books, 2004.

  * Woodward, Keith, John Paul Jones III, and Sallie A. Marston. “Of Eagles and Flies: Orientations toward the Site.” <em>Area</em> 42, no. 3 (2010): 271–280. [doi:10.1111/j.1475-4762.2009.00922.x](http://dx.doi.org/10.1111/j.1475-4762.2009.00922.x).

  * Wright, Richard. “Introduction.” In <em>Black Metropolis: A Study of Negro Life in a Northern City</em>, by St. Clair Drake and Horace R. Cayton, xvii–xxxiv. 1945. New York: Harper & Row, Publishers, 1962.

h2#resources Resources

ul
  li#markdown Markdown
  li#derive-app Dérive App
  li#imgur Hotlinking images
  
