<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>Biz</title>
</head>
<body>
<div class="snippet">
  <h1><%= @post.title %> clean</h1>
  <div class="sbody" id="content"><%= @post.content %></div>

</div>
</body>
</html>