/*
CSS modified and adapted from the Landing Zero theme from
http://www.bootstrapzero.com
*/

@font-face {
  font-family: 'Azuro';
  src: url('fonts/azuro-regular.eot');
  src: url('fonts/azuro-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/azuro-regular.woff') format('woff'),
    url('fonts/azuro-regular.ttf') format('truetype'),
    url('fonts/azuro-regular.svg#Azuro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Azuro';
  src: url('fonts/azuro-bold.eot');
  src: url('fonts/azuro-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/azuro-bold.woff') format('woff'),
    url('fonts/azuro-bold.ttf') format('truetype'),
    url('fonts/azuro-bold.svg#AzuroBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Azuro';
  src: url('fonts/azuro-bolditalic.eot');
  src: url('fonts/azuro-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/azuro-bolditalic.woff') format('woff'),
    url('fonts/azuro-bolditalic.ttf') format('truetype'),
    url('fonts/azuro-bolditalic.svg#AzuroBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Azuro';
  src: url('fonts/azuro-italic.eot');
  src: url('fonts/azuro-italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/azuro-italic.woff') format('woff'),
    url('fonts/azuro-italic.ttf') format('truetype'),
    url('fonts/azuro-italic.svg#AzuroItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative; /* for scrollspy */
    font-family: 'Azuro','Helvetica Neue',Arial,sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #adaada;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #adaada;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Azuro','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.fa-small {
  font-size: 75%;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-main {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #adaada;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
  min-height: auto;
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

footer>p {
  font-size: 1rem
}

dl {
  font-size: 1.25rem;
  line-height: 1.25;
}

.no-padding {
    padding: 0;
}

.navbar-toggler {
  font-size: 1rem;
}

.navbar-inverse {
    border-color: rgba(35,35,35,.05);
    font-family: 'Azuro','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-brand {
    font-family: 'Azuro','Helvetica Neue',Arial,sans-serif;
    color: #adaada;
    /* padding: 15px; */
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    /* margin-right: 0px; */
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #adaada;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse {
    border-color: transparent;
}

.navbar-nav > li>a,
.navbar-nav>li>a:focus {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    color: #eee;
}

.navbar-nav > li>a:hover,
.navbar-nav>li>a:focus:hover {
    color: #adaada;
}

.navbar-nav > li.active>a,
.navbar-nav>li.active>a:focus {
    color: #eee !important;
    background-color: transparent;
}

.navbar-nav > li.active>a:hover,
.navbar-nav>li.active>a:focus:hover
{
    background-color: transparent;
}

.w-pic {
  width: 40%!important;
}

.giant {
  font-size: 4rem;
}

.brand-name {
}

.brand-img {
  display: none;
}

.title-name {
  display: none;
}

@media(min-width:768px) {

  .title-name {
    display: block;
  }

  .brand-name {
    margin-left: 1em;
    display:none;
  }

  .sps--blw .brand-name {
    display:inline;
  }

  .brand-img {
    display: inline;
    opacity: 0.9;
  }

  .giant {
    font-size: 7rem;
  }

  .w-pic {
    width: 50%!important;
  }
    .navbar-inverse {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-brand {
        color: rgba(255,255,255,0.7);
        /* padding: 19px; */
        margin-right: 1rem;
    }

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-nav > li>a,
    .navbar-nav >li>a:focus {
        color: rgba(255,255,255,0.9);
        /* padding: 20px; */
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-nav > li>a:hover,
    .navbar-inverse .navbar-nav >li>a:focus:hover {
        color: #fefefe;
    }

    .sps--blw {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .sps--blw .navbar-brand {
        color: #adaada;
    }

    .sps--blw .navbar-brand:hover,
    .sps--blw .navbar-brand:focus {
        color: #adaada;
    }

    .sps--blw .navbar-nav > li>a,
    .sps--blw .navbar-nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .sps--blw .navbar-nav > li>a:hover,
    .sps--blw .navbar-nav>li>a:focus:hover {
        color: #adaada;
    }

    p {
      font-size: 23px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
      
}

header {
    text-align: center;
    color: #fff;
    background-color: #c9c9c9;
    background-image: url('http://i.imgur.com/wyJsTQD.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.paris {
  background-image: url('http://i.imgur.com/BupG0ow.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.wilna {
  background-image: url('http://i.imgur.com/ska5YcM.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.black-box {
  padding: 1rem;
  background-color: rgba(10, 10, 10, 0.7);
}


header .header-content {
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

footer {
    background-color:#2d2d2d;
}

@media(min-width:768px) {

    .container {
      max-width: 768px;
    }

    .icon-lg {
        font-size: 80px;
    }
    
    header {
      min-height: 100%;
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 100%;
        /* padding: 100px 0; */
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Azuro', 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
